#acme-font {
    font-family: 'Acme', sans-serif;
    font-size: 1.5em;
}
body {
    background-color: #234E5A;
}

#noto-font {
    font-family: 'Noto Sans Mono', monospace ,sans-serif;
    font-size: 1.1em;
}