{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="https://res.cloudinary.com/volendam/image/upload/v1665090814/favicon_rtblqk.ico">
    <title>Skategram</title>
    <link href="https://fonts.googleapis.com/css2?family=Acme&family=Noto+Sans+Mono:wght@300&display=swap"
        rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
    </script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <script src="https://kit.fontawesome.com/b678a35cb2.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">

</head>

<body class="d-flex flex-column min-vh-100">
    <!-- Header section containing all navigation content -->
    <header>
        <nav class="navbar  navbar-expand-lg navbar-dark bg-dark text-light" id="acme-font">
            {% if user.is_authenticated %}
            <div class="container-fluid">
                <a class="navbar-brand" href="{% url 'home' %}">Skategram</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'team-post' %}">Team posts</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav ms-auto m-2">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="{% url 'logout' %}">Logout</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'profile' %}">{{ user.username }} |
                                Profile</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'post-create' %}">Create a Post</a>
                        </li>
                    </ul>
                    {% else %}
                    <a class="navbar-brand mx-2" href="{% url 'landing' %}">Skategram</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="{% url 'landing' %}">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'landing' %}">Team posts</a>
                            </li>
                        </ul>
                        <ul class="navbar-nav ms-auto m-2">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="{% url 'login' %}">Login</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'register'%}">Register</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            {% endif %}
        </nav>
    </header>
    <!-- Main Content containing all posts -->
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2 mt-2">
                {% for message in messages %}
                <div class="alert {{ message.tags}} alert-dismissible fade show" id="msg" role="alert">
                    {{ message | safe }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <main>
        <div class="row  mx-auto container-fluid mt-auto">
            <div class="col-md-12 col-sm-12 mt-auto">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </main>
    <!-- Footer section -->
    <div class="mt-auto">
        <footer class="mt-auto bg-dark  text-lg-start text-white">
            <div class="container p-4">
                <div class="row mt-4">
                    <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                        <h5 class="text-uppercase">Made By :</h5>
                        <ul class="list-unstyled mb-0">
                            <li>
                                <h6>Patrick Alexander Lucas Van Der Flier</h6>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                        <h5 class="text-uppercase">Social Medias :</h5>
                        <ul class="list-unstyled">
                            <li>
                                <a href="https://github.com/vanderpatrick" target="_blank" class="text-white mx-1"><i
                                        class="fa-brands fa-github"></i></a>
                                <a href="https://www.linkedin.com/in/patrick-alexander-lucas-van-der-flier-a8bb1621b/"
                                    target="_blank" class="text-white mx-1"><i class="fa-brands fa-linkedin-in"></i></a>
                                <a href="https://www.facebook.com/patrick.alexander.167/" target="_blank"
                                    class="text-white mx-1"><i class="fa-brands fa-facebook"></i></a>
                                <a href="https://www.instagram.com/trick_alexander/" target="_blank"
                                    class="text-white mx-1"><i class="fa-brands fa-instagram"></i></a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                        <h5 class="text-uppercase">Contact :</h5>
                        <ul class="list-unstyled">
                            <li>
                                <h6>vanderflierp@gmail.com</h6>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                        <h5 class="text-uppercase">Design By :</h5>
                        <ul class="list-unstyled">
                            <li>
                                <h6>Patrick Alexander Lucas Van Der Flier</h6>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
                © 2021 Copyright:
                <a class="text-white" href="{% url 'home' %}">Skategram</a>
            </div>
        </footer>
    </div>
    <script>
        function remove() {
            let r = document.getElementById("msg");
            r.remove();
        }
        setTimeout(remove, 2000);
    </script>
</body>

</html>