{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="container">
        <div class="col-md-12 pt-4 pb-4">
            <form  method="POST" class="text-start my-4">
                {% csrf_token %}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4 text-light" >Welcome to skategram please fill the form to login</legend>
                    <div class="text-light" id="noto-font">
                        {{ form|crispy }}
                    </div>
                </fieldset>
                <div class="form-group">
                    <button class="btn btn-outline-info mt-4" type="submit">login</button>
                </div>
            </form>
            <div class="border-top pt-3"><small class="text-muted ">Dont have an account ? <a href="{% url 'register' %}" class="ml-2">sign up</a> </small></div>
        </div>
    </div>
{% endblock content %}